:root {
	--background: #dae0e6;
}

body{
	background: var(--background)
}

#search-icon-legacy.searchbox {
    border: 1px solid var(--searchbox-legacy-button-border-color);
    background-color: var(--searchbox-legacy-button-color);
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    height: 40px;
    width: 64px;
    margin: 0;
    display: flex;
    justify-content: center;
    algin items: center;
}

#container.searchbox {
    position: relative;
    align-items: center;
    background-color: var(--ytd-searchbox-background);
    border: 1px solid var(--ytd-searchbox-legacy-border-color);
    border-right: none;
    border-radius: 2px 0 0 2px;
    box-shadow: inset 0 1px 2px var(--ytd-searchbox-legacy-border-shadow-color);
    color: var(--ytd-searchbox-text-color);
    padding: 2px 6px;
    margin-left: 34px;
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: row;
}
